In [3]:
import pandas as pd
df=pd.DataFrame({
    'Course':['DBMS','Python','DBMS','JAVA'],
    'Fees':[4000,6000,4500,3000],
    'Complexity':[90,92,89,91]
})
print(df)
c=df.groupby('Course').agg({'Fees':'min' })
print(c)
d=df.pivot(values='Fees',columns='Course')
print('Pivot:',d)

   Course  Fees  Complexity
0    DBMS  4000          90
1  Python  6000          92
2    DBMS  4500          89
3    JAVA  3000          91
        Fees
Course
DBMS    4000
JAVA    3000
Python  6000
Pivot: Course    DBMS    JAVA  Python
0       4000.0     NaN     NaN
1          NaN     NaN  6000.0
2       4500.0     NaN     NaN
3          NaN  3000.0     NaN